/* .card {
    width: 250px;
    min-height:400px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-family: var(--primaryFont);
    border-radius: 5px;
}

.card .img {
    width: 100%;
    height: 50%;
    transition: all 300ms ease;
}

.card .img img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card:hover > .img {
    transform: translateY(-20px);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.content b {
    font-size: 18px;
}

.content p{
    font-size: 18px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
} */

.card {
    width: 18rem
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}